.test{
    background-color: blue;
    color: #FFF;
    margin-bottom: 10px;
    padding: 10px;
}

.nest {
    background-color: red;
    color: #FFF;
    margin-bottom: 10px;
    padding: 20px;


}